 #  A Whale off the Port(folio)

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500.

In [103]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:
1. whale_returns.csv
2. algo_returns.csv
3. sp500_history.csv

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [105]:
# Reading whale returns
whale_returns_data = Path("Resources/whale_returns.csv")
# YOUR CODE HERE
Whale_df = pd.read_csv(whale_returns_data, index_col="Date")
Whale_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [107]:
# Count nulls
Whale_df.isnull().sum()
#Whale_df.count()
# YOUR CODE HERE

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [109]:
# Drop nulls
Whale_dropna = Whale_df.dropna()
Whale_dropna

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
2015-03-10,-0.010263,-0.005341,-0.012079,-0.009739
2015-03-11,0.004012,0.005163,0.003312,-0.001147
2015-03-12,0.008265,0.010272,0.013117,0.010801
2015-03-13,-0.002497,-0.001428,-0.003697,-0.008142
2015-03-16,0.007901,0.003583,0.007953,0.008055
2015-03-17,0.002142,0.002928,-0.000687,0.000384
2015-03-18,0.009603,0.007513,0.009557,0.007854
2015-03-19,-0.000778,-0.002554,-0.002925,0.002363
2015-03-20,0.009657,0.000983,0.007391,0.007105
2015-03-23,-0.000067,-0.000513,-0.000109,0.000591
2015-03-24,-0.002571,-0.004808,-0.003321,-0.001013
2015-03-25,-0.006156,-0.008018,-0.011172,-0.014567
2015-03-26,-0.002098,-0.000593,-0.001035,-0.001212
2015-03-27,-0.000075,0.002088,0.002190,0.004776
2015-03-30,0.008113,0.002220,0.008617,0.005228
2015-03-31,-0.005445,-0.003021,-0.003968,0.001858
2015-04-01,0.000919,0.000157,-0.002002,-0.003865
2015-04-02,0.002561,0.004299,0.003058,0.001966
2015-04-06,0.005368,0.003763,0.004631,0.004920
2015-04-07,-0.001243,-0.000171,-0.002060,0.001882
2015-04-08,0.006185,0.012652,0.003452,0.012352
2015-04-09,0.004036,0.003232,-0.000453,-0.001905
2015-04-10,-0.000090,0.001230,0.002386,0.001661
2015-04-13,-0.003448,-0.002766,-0.004072,-0.003074
2015-04-14,0.003393,0.002021,0.002142,0.007516
...,...,...,...,...
2019-03-20,-0.004683,-0.004472,-0.007399,-0.000404
2019-03-21,0.015109,0.004746,0.018898,0.013333
2019-03-22,-0.017664,-0.013698,-0.016745,-0.028230
2019-03-25,-0.003330,-0.000420,0.000972,0.010737
2019-03-26,0.004387,0.005641,0.009190,0.005378
2019-03-27,-0.003994,-0.007321,-0.004278,-0.006041
2019-03-28,0.003216,-0.006963,0.005932,0.005964
2019-03-29,0.001392,0.003030,-0.001277,0.012783
2019-04-01,0.009000,0.010073,0.003972,0.013182
2019-04-02,0.000193,-0.005619,-0.006623,0.001152
2019-04-03,0.003562,0.001305,0.005193,0.003252
2019-04-04,0.001255,0.010630,0.008459,-0.008037
2019-04-05,0.006880,0.006484,0.009357,0.006128
2019-04-08,0.000483,-0.000310,0.000153,0.000841
2019-04-09,-0.005657,-0.004396,-0.006536,-0.002497
2019-04-10,0.009808,0.008366,0.002912,0.005269
2019-04-11,0.003406,-0.003959,-0.000637,-0.000496
2019-04-12,0.005663,-0.001165,0.004217,0.007316
2019-04-15,-0.001422,-0.001156,0.000398,-0.010492
2019-04-16,0.002699,0.000388,-0.000831,0.000837
2019-04-17,-0.002897,-0.006467,-0.004409,0.003222
2019-04-18,0.001448,0.001222,0.000582,0.001916
2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088
2019-04-23,0.007167,0.003485,0.006472,0.013278
2019-04-24,0.002284,0.001009,-0.004000,-0.006386
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.008149,0.009162,0.012355,0.010434
2019-04-29,0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [111]:
##Data Count for Na verification 
Whale_dropna.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [113]:
# Reading algorithmic returns
algo_returns_data = Path("Resources/algo_returns.csv")
algo_df = pd.read_csv(algo_returns_data, index_col="Date")
algo_df.head()
# YOUR CODE HERE

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [115]:
# Count nulls
# YOUR CODE HERE
algo_df.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [117]:
# Drop nulls
# YOUR CODE HERE
algo_dropna = algo_df.dropna()
algo_dropna

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761
2014-06-12 -0.000028 -0.003841
2014-06-13  0.001917 -0.000814
2014-06-16  0.001084  0.001831
2014-06-17  0.000922  0.006870
2014-06-18 -0.006303  0.007228
2014-06-19 -0.000853  0.003989
2014-06-20  0.006398  0.003928
2014-06-23 -0.004532 -0.000615
2014-06-24  0.011861 -0.009389
2014-06-25 -0.001321  0.006322
2014-06-26 -0.000213 -0.000334
2014-06-27  0.007136  0.004595
2014-06-30 -0.001584  0.005242
2014-07-01  0.001817  0.007710
2014-07-02  0.003300 -0.002834
2014-07-03  0.001358  0.003125
2014-07-07  0.002782 -0.012258
2014-07-08  0.002488 -0.010457
2014-07-09 -0.001881  0.004427
2014-07-10 -0.001153 -0.011214
2014-07-11 -0.000366  0.002780
2014-07-14  0.004460  0.004614
2014-07-15 -0.002106 -0.007799
2014-07-16 -0.003186  0.000109
2014-07-17 -0.009030 -0.008056
...              ...       ...
2019-03-20 -0.009167  0.001009
2019-03-21  0.000035  0.004714
2019-03-22  0.002514 -0.020949
2019-03-25  0.000973 -0.002058
2019-03-26  0.005455  0.005614
2019-03-27  0.008395 -0.004457
2019-03-28  0.009932  0.005775
2019-03-29 -0.000868  0.004576
2019-04-01  0.008159  0.007257
2019-04-02  0.003776 -0.000413
2019-04-03 -0.003337  0.000287
2019-04-04 -0.003597  0.003265
2019-04-05  0.001519  0.009306
2019-04-08  0.003761  0.000218
2019-04-09  0.012012 -0.011639
2019-04-10 -0.004221  0.009632
2019-04-11  0.001705 -0.001568
2019-04-12 -0.005501  0.004504
2019-04-15 -0.004331 -0.004572
2019-04-16 -0.006945  0.002899
2019-04-17 -0.010301 -0.005228
2019-04-18 -0.000588 -0.001229
2019-04-22  0.000677 -0.001936
2019-04-23  0.004969  0.009622
2019-04-24  0.001095  0.000399
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1235 rows x 2 columns]

In [119]:
""" Verify Null removal """
algo_dropna.isnull().sum()

Algo 1    0
Algo 2    0
dtype: int64

## S&P 500 Returns

Read the S&P500 Historic Closing Prices and create a new daily returns DataFrame from the data.

In [120]:
# Reading S&P 500 Closing Prices
sp500_history_csv = Path("Resources/sp500_history.csv")
# YOUR CODE HERE

In [121]:
# Fix Data Types
sp500_df = pd.read_csv(sp500_history_csv, index_col="Date")
sp500_df.head()

              Close
Date
23-Apr-19  $2933.68
22-Apr-19  $2907.97
18-Apr-19  $2905.03
17-Apr-19  $2900.45
16-Apr-19  $2907.06

In [122]:
# Check Data Types
sp500_df.dtypes

Close    object
dtype: object

In [123]:
# Calculate Daily Returns
sp500_dailyreturns = sp500_df.pct_change
sp500_dailyreturns

<bound method NDFrame.pct_change of               Close
Date
23-Apr-19  $2933.68
22-Apr-19  $2907.97
18-Apr-19  $2905.03
17-Apr-19  $2900.45
16-Apr-19  $2907.06
15-Apr-19  $2905.58
12-Apr-19  $2907.41
11-Apr-19  $2888.32
10-Apr-19  $2888.21
9-Apr-19   $2878.20
8-Apr-19   $2895.77
5-Apr-19   $2892.74
4-Apr-19   $2879.39
3-Apr-19   $2873.40
2-Apr-19   $2867.24
1-Apr-19   $2867.19
29-Mar-19  $2834.40
28-Mar-19  $2815.44
27-Mar-19  $2805.37
26-Mar-19  $2818.46
25-Mar-19  $2798.36
22-Mar-19  $2800.71
21-Mar-19  $2854.88
20-Mar-19  $2824.23
19-Mar-19  $2832.57
18-Mar-19  $2832.94
15-Mar-19  $2822.48
14-Mar-19  $2808.48
13-Mar-19  $2810.92
12-Mar-19  $2791.52
...             ...
13-Nov-12  $1374.53
12-Nov-12  $1380.03
9-Nov-12   $1379.85
8-Nov-12   $1377.51
7-Nov-12   $1394.53
6-Nov-12   $1428.39
5-Nov-12   $1417.26
2-Nov-12   $1414.20
1-Nov-12   $1427.59
31-Oct-12  $1412.16
26-Oct-12  $1411.94
25-Oct-12  $1412.97
24-Oct-12  $1408.75
23-Oct-12  $1413.11
22-Oct-12  $1433.82
19-Oct-12  $1433.19
18-Oct-12  $1457.34
17-Oct-12  $1460.91
16-Oct-12  $1454.92
15-Oct-12  $1440.13
12-Oct-12  $1428.59
11-Oct-12  $1432.84
10-Oct-12  $1432.56
9-Oct-12   $1441.48
8-Oct-12   $1455.88
5-Oct-12   $1460.93
4-Oct-12   $1461.40
3-Oct-12   $1450.99
2-Oct-12   $1445.75
1-Oct-12   $1444.49

[1649 rows x 1 columns]>

In [124]:
# Rename Column
columns = ["Close"]
sp500_df.columns = columns
sp500_df.head()

              Close
Date
23-Apr-19  $2933.68
22-Apr-19  $2907.97
18-Apr-19  $2905.03
17-Apr-19  $2900.45
16-Apr-19  $2907.06

## Combine Whale, Algorithmic, and S&P 500 Returns

In [157]:
# Concatenate all DataFrames into a single DataFrame
All_Data = pd.concat([Whale_dropna,sp500_df,algo_dropna], ignore_index="Date")
All_Data.head()

,Algo 1,Algo 2,BERKSHIRE HATHAWAY INC,Close,PAULSON & CO.INC.,SOROS FUND MANAGEMENT LLC,TIGER GLOBAL MANAGEMENT LLC
0,NaN,NaN,-0.006569,NaN,-0.004981,-0.001266,-0.000496
1,NaN,NaN,0.004213,NaN,0.003241,0.002230,-0.002534
2,NaN,NaN,0.006726,NaN,0.004076,0.004016,0.002355
3,NaN,NaN,-0.013098,NaN,-0.003574,-0.007905,-0.008481
4,NaN,NaN,-0.001652,NaN,0.004225,0.000582,0.005843

---

# Portfolio Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance

Calculate and Plot the daily returns and cumulative returns. Does any portfolio outperform the S&P 500?

In [126]:
# Plot daily returns
# YOUR CODE HERE

In [127]:
# Plot cumulative returns
# YOUR CODE HERE

## Risk

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

In [128]:
# Box plot to visually show risk
# YOUR CODE HERE

In [129]:
# Daily Standard Deviations
# Calculate the standard deviation for each portfolio. 
# Which portfolios are riskier than the S&P 500?
# YOUR CODE HERE

In [130]:
# Determine which portfolios are riskier than the S&P 500
# YOUR CODE HERE

In [131]:
# Calculate the annualized standard deviation (252 trading days)
# YOUR CODE HERE

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Plot the rolling standard deviation of the various portfolios along with the rolling standard deviation of the S&P 500 (consider a 21 day window). Does the risk increase for each of the portfolios at the same time risk increases in the S&P?
2. Construct a correlation table for the algorithmic, whale, and S&P 500 returns. Which returns most closely mimic the S&P?
3. Choose one portfolio and plot a rolling beta between that portfolio's returns and S&P 500 returns. Does the portfolio seem sensitive to movements in the S&P 500?
4. An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the ewm with a 21 day half-life.

In [132]:
# Calculate and plot the rolling standard deviation for
# the S&P 500 and whale portfolios using a 21 trading day window
# YOUR CODE HERE

In [133]:
# Construct a correlation table
# YOUR CODE HERE

In [134]:
# Calculate Beta for a single portfolio compared to the total market (S&P 500)
# (Your graph may differ, dependent upon which portfolio you are comparing)
# YOUR CODE HERE

In [135]:
# Calculate a rolling window using the exponentially weighted moving average. 
# YOUR CODE HERE

---

## Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. (After all, if you could invest in one of two portfolios, each offered the same 10% return, yet one offered lower risk, you'd take that one, right?)

1. Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot.
2. Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

In [136]:
# Calculate annualized Sharpe Ratios
# YOUR CODE HERE

In [137]:
# Visualize the sharpe ratios as a bar plot
# YOUR CODE HERE

On the basis of this performance metric, do our algo strategies outperform both 'the market' and the whales? Type your answer here:

---

# Portfolio Returns

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Visit [Google Sheets](https://docs.google.com/spreadsheets/) and use the in-built Google Finance function to choose 3-5 stocks for your own portfolio.
2. Download the data as CSV files and calculate the portfolio returns.
3. Calculate the returns for each stock.
4. Using those returns, calculate the weighted returns for your entire portfolio assuming an equal number of shares for each stock.
5. Add your portfolio returns to the DataFrame with the other portfolios and rerun the analysis. How does your portfolio fair?


## Your analysis should include the following:

- Using all portfolios:
 - The annualized standard deviation (252 trading days) for all portfolios.
 - The plotted rolling standard deviation using a 21 trading day window for all portfolios.
 - The calculated annualized Sharpe Ratios and the accompanying bar plot visualization.
 - A correlation table.
- Using your custom portfolio and one other of your choosing:
 - The plotted beta.

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [138]:
# Read the first stock
# YOUR CODE HERE

In [139]:
# Read the second stock
# YOUR CODE HERE

In [140]:
# Read the third stock
# YOUR CODE HERE

In [141]:
# Concatenate all stocks into a single DataFrame
# YOUR CODE HERE

In [142]:
# Reset the index
# YOUR CODE HERE

In [143]:
# Pivot so that each column of prices represents a unique symbol
# YOUR CODE HERE

In [144]:
# Drop Nulls
# YOUR CODE HERE

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [145]:
# Calculate weighted portfolio returns
weights = [1/3, 1/3, 1/3]
# YOUR CODE HERE

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [146]:
# Add your "Custom" portfolio to the larger dataframe of fund returns
# YOUR CODE HERE

In [147]:
# Only compare dates where return data exists for all the stocks (drop NaNs)
# YOUR CODE HERE

## Re-run the performance and risk analysis with your portfolio to see how it compares to the others

In [148]:
# Risk
# YOUR CODE HERE

In [149]:
# Rolling
# YOUR CODE HERE

In [150]:
# Annualized Sharpe Ratios
# YOUR CODE HERE

In [151]:
# Visualize the sharpe ratios as a bar plot
# YOUR CODE HERE

In [152]:
# Create a correlation analysis
# YOUR CODE HERE

In [153]:
# Beta
# YOUR CODE HERE